body {
  background-color: rgb(231,231,231);
  margin: 0;
}
#page {
  background-image: url("../img/rag.png") ;
  background-repeat: repeat-x;
  background-color: rgb(231,231,231);
  padding: 2em 0;
  display: block;
  overflow: hidden;
  /*margin: 0*/
}
#small {
  display: none;
}

li {
  list-style: none;
  color: #890101;
  font-weight: bold;
}
li:hover {
  color:red;
  cursor: pointer;
}
img{
  max-width:100%;
}
.header {
  width: auto;
}

#container {
  width: 94%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

#big {
  float: left;
  width: 35%;
  margin: 0;
}

#nav, .content, .images, .footer {
  float: right;
  width: 65%;
}

#nav {
  text-align: center;
  margin: 40px 0 1em;
  padding: 0;
}

#nav li {
  width: 31%;
  float: left;
  border-bottom: 1px solid #000;
  display: block;
  padding-bottom: 20px;
  position: relative;
}
#nav li:hover::after {
  content: url("../img/ornament2.png");
  background-color: rgb(231,231,231);
  position: absolute;
  top: 35px;
  right: 46%;
}
.first {
  margin-right: 3%;
}
.last {
  margin-right: 0;
}
.content h1, .images h1 {
  text-align: center;
  font-family: serif;
  font-weight: lighter;
}

.main-images  li  {
  float: left;
  margin: 0 3% 0.5em 0;
  text-align: center;
  width: 14%;
}
.main-images img {
  display:block;
  margin: 0 auto 1em;
  box-shadow: 0 2px 4px #000;
}

#mainLeft {
  margin-left: 0;
}

#mainRight {
  margin-right: 0;
}

span {
  display: block;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
#last {
    margin-right: 0;
}

span {
  font-size: 11px;
  font-weight: normal;
}

.footer {
  background: url("../img/ornament.png") 50% 0 repeat-x;
  clear: both;
  float: none;
  margin-left: 57%;
  width: 20.5%;
  top: 50px;
}
.footer p {
  text-align: center;
  margin: auto;
  font-size: 13px;
  padding: 30px 10px;
}

#big {
  text-align: center;
}

.images h1 {
  background: url("../img/ornament.png") no-repeat;

}

.images h1 p {
  background-color: rgb(231,231,231);
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  #nav {
    float: none;
    width: 100%;
  }
  #nav li {
    float: none;
    /*left: 35%;*/
    text-align: center;
    margin: 0 auto;
    width: 55%;
    padding: 20px 0;
  }
  #navTop {
    border-top: 1px solid black;
    margin-right: 0;
  }
  #big {
    float: none;
    width: 100%;
  }

  .header {
    width: 35%;
    float: left;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    overflow: hidden;
    float: right;
    margin: 0 auto;
    width: 65%;
    top: -50%;
  }
  .main-images li {
    width: 33%;
    margin: 0;
  }
  .main-images img {
    width: 90%;
  }

  #nav li:hover::after {
    top: 55px;
    left: 44%;
    z-index: 0;
  }
}

@media screen and (max-width: 600px) {
  .header {
    float: none;
    width: 100%;
  }
  #big {
    display: none;
  }
  #small {
    display: block;
    margin: 0 auto;
  }
  #nav {
    margin: 0 auto;
  }
  #nav li {
    display: inline-block;
    float: left;
    width: 33%;
    border-top: 1px solid #000;
    margin-bottom: 20px;
  }
  .content, .images, .footer {
    width: 100%;
  }
}
